.env
__pycache__
*.pyc
node_modules
.sqlite3
flask_session/*
.embed_cache
flask_session
instance
uploads/*
uploads
.flaskenv
myenv
README.md
__init__.py
generated_statements
static
migrations
chat_history
chat_index
default
knowledgebase
.flaskenv