alembic
annotated-types
anyio
blinker
Brotli
cachelib
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cssselect2
cycler
distro
et_xmlfile
filelock
Flask
flask-cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
fonttools
fsspec
greenlet
gunicorn
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
kiwisolver
Mako
MarkupSafe
matplotlib
mpmath
msal
msgspec
networkx
numpy
openai
openpyxl
packaging
pandas
pdfkit
pillow
psycopg2-binary
pycparser
pydantic
pydantic_core
pydyf
PyJWT
pyparsing
pyphen
python-dateutil
python-dotenv
pytz
PyYAML
regex
reportlab
requests
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
six
sniffio
SQLAlchemy
sympy
threadpoolctl
tinycss2
tinyhtml5
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
weasyprint
webencodings
Werkzeug
WTForms
zopfli
APScheduler
intuit-oauth
python-quickbooks
yfinance
gunicorn
faiss-cpu
psycopg2-binary
python-pptx
python-docx
PyPDF2
pdfminer.six
pypdf
Werkzeug
Flask-Login
psycopg-binary
twilio
psycopg